<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/pages/template/testemplate.xhtml">
        <ui:param name="contentTitle" value="Status Data"/>
        <ui:param name="contentSubTitle" value="List data Neraca"/>
        <ui:define name="breadcrumb">
            <li class="active">Status Data</li>
            <li class="active">List Data</li>
            <li class="active">List Data Neraca</li>
        </ui:define>
        <ui:define name="content">        
            <p:separator style="color: #dd4b39; background-color: #dd4b39; border-color: #dd4b39;" />            
            <h:form id="form1" >  
                    <table id="tableCombo" align="center">
                        <tr>
                            <td style="padding: 5px;"> <h:outputText value="Tahun Anggaran " />   </td>
                            <td style="padding: 5px;"> <h:outputText value=" : " />   </td>
                            <td style="padding: 5px;"> 
                                <p:selectOneMenu id="comboyear" value="#{statusListDataNeracaMBean.selectedYear}" panelStyle="font-size:11px; width: 200px;" style="font-size:11px; width: 200px">
                                    <f:selectItem itemLabel="Pilih Tahun Anggaran...." itemValue="" />  
                                    <f:selectItems value="#{statusListDataNeracaMBean.years}" var="yearsitem" itemLabel="#{yearsitem}" itemValue="#{yearsitem}" />
                                    <p:ajax process="comboyear" update="panelall tabel1" event="change" listener="#{statusListDataNeracaMBean.onYearChange}"/>
                                </p:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;"> <h:outputText value="Semester" />  </td>
                            <td style="padding: 5px;"> <h:outputText value=":"/></td>
                            <td style="padding: 5px;"> 
                                <p:selectOneMenu id="combosemester" 
                                                 value="#{statusListDataNeracaMBean.selectedSemester}" 
                                                 panelStyle="font-size:11px; width: 200px;" style="font-size:11px; width: 200px"
                                                 converter="omnifaces.SelectItemsConverter"
                                                 >
                                    
                                    <f:selectItem itemLabel="Silahkan pilih semester..." itemValue="" />  
                                    <f:selectItems value="#{statusListDataNeracaMBean.semesters}" var="sem" itemLabel="#{sem.bulanString}" itemValue="#{sem}" />  
                                    
                                    <p:ajax process="combosemester" update="panelall tabel1" event="change" listener="#{statusListDataNeracaMBean.onYearChange}"/>
                                </p:selectOneMenu>
                            </td>
                        </tr>
                    </table>
                    
                    <p:separator id="separator" style="width: 80%"/> 
                    <br/>

                    <center>
                        <p:blockUI block="form1" trigger="comboyear combosemester">
                            <h:panelGrid id="blockContent" columns="2" bgcolor="white">
                                <h:graphicImage value="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/resources/images/ajaxloader.gif" 
                                                style="margin-right:12px; vertical-align:middle;"/>
                                <h:outputText value="Proses ..."
                                              style="white-space:nowrap;"/>
                            </h:panelGrid>
                        </p:blockUI>
                        <p:outputPanel id="panelall">

                            <p:panelGrid style="width:80%">
                                <p:row>                              
                                    <p:column style="text-align: center; line-height: 150%;" colspan="3" >
                                        <b>                                            
                                            STATUS DATA NERACA<br/>  
                                        #{statusListDataNeracaMBean.labelYear}<br/></b>
                                    </p:column> 
                                </p:row>
                            </p:panelGrid>                            
                            <br/>  
                            
                            <p:dataTable id="tabel1" var="obj" value="#{statusListDataNeracaMBean.statusPemdas}"
                                         style="font-size: 11px;width: 90%;" >

                                <p:columnGroup type="header">
                                    <p:row>                                        
                                        <p:column style="text-align: center;width: 20%; word-break: normal; " headerText="Kode Pemda"/>
                                        <p:column style="text-align: center;width: 50%; word-break: normal; " headerText="Nama Pemda"/>
                                        <p:column style="text-align: center;width: 30%; word-break: normal; " headerText="Status"/>
                                    </p:row>                                    
                                </p:columnGroup>

                                <p:column style="text-align: left; #{obj.style}">
                                    #{obj.pemda.kodeProvinsi}.#{obj.pemda.kodePemda}
                                </p:column>
                                <p:column style="text-align: left;#{obj.style}">
                                    #{obj.pemda.namaPemda}
                                </p:column>
                                <p:column style="text-align: right; word-break: break-all;#{obj.style};">
                                    #{obj.statusData.nama}
                                </p:column>
                            </p:dataTable>

                        </p:outputPanel>
                        <br/>
                    </center>
                </h:form>
        </ui:define>
    </ui:decorate>
</ui:composition>