<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">
            
            <h:form id="formapplra" >  
                <table id="tableCombo" align="center">
                    <tr>
                        <td style="padding: 5px;"> <h:outputText value="Tahun Anggaran " />   </td>
                        <td style="padding: 5px;"> <h:outputText value=" : " />   </td>
                        <td style="padding: 5px;"> 
                            <p:selectOneMenu id="comboyear" value="#{listDataXmlLraMBean.selectedYear}" panelStyle="font-size:11px; width: 200px;" style="font-size:11px; width: 200px">
                                <f:selectItem itemLabel="Pilih Tahun Anggaran...." itemValue="" />  
                                <f:selectItems value="#{listDataXmlLraMBean.years}" var="yearsitem" itemLabel="#{yearsitem}" itemValue="#{yearsitem}" />
                                <p:ajax process="comboyear" update="outpanel1" event="change" listener="#{listDataXmlLraMBean.onYearChange}"/>
                            </p:selectOneMenu>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"> <h:outputText value="Periode " />   </td>
                        <td style="padding: 5px;"> <h:outputText value=" : " />   </td>
                        <td style="padding: 5px;"> 
                            <p:selectOneMenu id="comboperiode" value="#{listDataXmlLraMBean.selectedPeriode}" panelStyle="font-size:11px; width: 200px;" style="font-size:11px; width: 200px"
                                             converter="omnifaces.SelectItemsConverter">
                                <f:selectItems value="#{listDataXmlLraMBean.periodes}" var="per" itemLabel="#{per.bulanString}" itemValue="#{per}" />
                                <p:ajax process="comboperiode" update="outpanel1" event="change" listener="#{listDataXmlLraMBean.onYearChange}"/>
                            </p:selectOneMenu>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"> <h:outputText value="Kode Data" />  </td>
                            <td style="padding: 5px;"> <h:outputText value=":"/></td>
                            <td style="padding: 5px;"> 
                                <p:selectOneMenu id="comboKodeData" 
                                                 value="#{listDataXmlLraMBean.selectedKodeData}" 
                                                 panelStyle="font-size:11px; width: 200px;" style="font-size:11px; width: 200px">
                                    <f:selectItem itemLabel="Murni" itemValue="0" />  
                                    <f:selectItem itemLabel="Perubahan" itemValue="1" />  
                                    
                                    <p:ajax process="comboKodeData" update="outpanel1" event="change" listener="#{listDataXmlLraMBean.onYearChange}"/>
                                </p:selectOneMenu>
                            </td>
                    </tr>
                </table>
                <p:separator/>

                <center>
                    <p:blockUI block="formapplra" trigger="comboyear comboKodeData comboperiode">
                        <h:panelGrid id="blockContent" columns="2" bgcolor="white">
                            <h:graphicImage value="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/resources/images/ajaxloader.gif" 
                                            style="margin-right:12px; vertical-align:middle;"/>
                            <h:outputText value="Proses ..."
                                          style="white-space:nowrap;"/>
                        </h:panelGrid>
                    </p:blockUI>
                    <p:outputPanel id="outpanel1">
                        <h:outputLabel value="#{listDataXmlLraMBean.jumlahDaerah}"/>
                        <br/>
                        <p:dataTable id="tabel1" var="obj" value="#{listDataXmlLraMBean.listIkdPemdas}"
                                     style="font-size: 11px;width: 70%;" >

                            <p:columnGroup type="header">
                                <p:row>                                        
                                    <p:column style="text-align: center;width: 75%; word-break: normal; " headerText="Pemerintah Dareah"/>
                                    <p:column style="text-align: center;width: 25%; word-break: normal; " headerText="Tanggal Kirim"/>
                                    
                                </p:row>                                    
                            </p:columnGroup>

                            <p:column style="text-align: left;">
                                    #{obj.pemda}
                            </p:column>
                            <p:column style="text-align: left;">
                                    #{obj.tanggal}
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>                    
                </center>
            </h:form>
</ui:composition>