<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <p:columnGroup type="header">
        <p:row>
            <p:column rowspan="2" style="text-align: center; width: 4%;" headerText="NO. URUT"/>
            <p:column rowspan="2" style="text-align: center; width: 23%;" headerText="NAMA SKPD / KUASA BUD"/>
            <p:column colspan="2" style="text-align: center; width: 21%;" headerText="SPM/SPD"/>
            <p:column colspan="2" style="text-align: center; width: 21%;" headerText="SP2D"/>
            <p:column rowspan="2" style="text-align: center; width: 12%;" headerText="JUMLAH PAJAK"/>
            <p:column rowspan="2" style="text-align: center; width: 12%;" headerText="JUMLAH POTONGAN"/>
            <p:column rowspan="2" style="text-align: center; width: 12%;" headerText="KETERANGAN"/>
        </p:row>
        <p:row>
            <p:column style="text-align: center; width: 5%;" headerText="JUMLAH TOTAL"/>
            <p:column style="text-align: center; width: 16%;" headerText="NILAI BELANJA TOTAL (Rp)"/>
            <p:column style="text-align: center; width: 5%;" headerText="JUMLAH TOTAL"/>
            <p:column style="text-align: center; width: 16%;" headerText="NILAI BELANJA TOTAL (Rp)"/>
        </p:row>  
        <p:row>
            <p:column style="text-align: center; width: 4%;" headerText="1"/>
            <p:column style="text-align: center; width: 23%;" headerText="2"/>
            <p:column style="text-align: center; width: 5%;" headerText="3"/>
            <p:column style="text-align: center; width: 16%;" headerText="4"/>
            <p:column style="text-align: center; width: 5%;" headerText="5"/>
            <p:column style="text-align: center; width: 16%;" headerText="6"/>
            <p:column style="text-align: center; width: 12%;" headerText="7"/>
            <p:column style="text-align: center; width: 12%;" headerText="8"/>
            <p:column style="text-align: center; width: 7%;" headerText="9"/>
        </p:row>
    </p:columnGroup>

    <p:column style="text-align: right; height: 18px;">
        <p:outputLabel value="#{row.noUrut}"/>
    </p:column>
    <p:column style="text-align: left;">
        <p:outputLabel value="#{row.skpd}" style="#{row.style}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <p:outputLabel value="#{row.jumlahSPMAsString}"  style="#{row.style}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <p:outputLabel value="#{row.jumlahBelanjaSPMAsString}" style="#{row.style}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <p:outputLabel value="#{row.jumlahSP2DAsString}" style="#{row.style}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <p:outputLabel value="#{row.jumlahBelanjaSP2DAsString}" style="#{row.style}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <p:outputLabel value="#{row.jumlahPajakAsString}" style="#{row.style}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <p:outputLabel value="#{row.jumlahPotonganAsString}" style="#{row.style}"/>
    </p:column>
    <p:column style="text-align: left;">
        <p:outputLabel value="#{row.keterangan}" style="#{row.style}"/>
    </p:column>

</ui:composition>

