<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
          
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet name="common-style.css" library="css" />
    </h:head>

    <h:body>

        <div id="page">
            <div id="header">
                <ui:insert name="header" >
                    <ui:include src="/template/common/commonHeader.xhtml" />
                </ui:insert>
            </div>
            <div id="bottomheader">
                <ui:insert name="bottomheader" >
                    <h:form id="fLogout">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td><p:outputLabel value="selamat datang " style="color: white"/><p:outputLabel style="font-weight: bold; color: white" value="#{sikdMBean.user.userContact.fullName}"/></td>
                            <td align="right"><p:commandLink style="text-align: right; color: white" actionListener="#{sikdMBean.logout}" value="logout" /></td>
                        </tr>
                    </table>
                </h:form>
                </ui:insert>
            </div>
           <div id="navigation">
                <ui:insert name="navigation" >
                    <h:form id="ftes">
                    <p:menubar model="#{sikdMBean.model}"/>
                    </h:form>
                </ui:insert>
            </div>
            <div id="content">
                
                <ui:insert name="content" >                    
                    <ui:include src="/template/common/commonContent.xhtml" />
                </ui:insert>
            </div>

            <div id="topfooter">
                <ui:insert name="footer" >
                    <ui:include src="/template/common/topFooter.xhtml" />
                </ui:insert>
            </div>
            <div id="footer">
                <ui:insert name="footer" >
                    <ui:include src="/template/common/commonFooter.xhtml" />
                </ui:insert>
            </div>

        </div>

    </h:body>

</html>