<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <h:outputStylesheet name="tableLayout.css" library="css" />
        <title>Facelets Template</title>
    </h:head>

    <h:body>
        <div id="page">
        <table cellspacing="0px" width="100%;">
            <tr>
                <td id="top">
                    <ui:insert name="top">
                    </ui:insert>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0px" cellspacing="0px">
                        <tr>
                            <td id="kiri">
                    <ui:insert name="left">Left</ui:insert>
                </td>
                <td id="content">
                    <ui:insert name="content">Content</ui:insert>
                </td>
                        </tr>
                    </table>
                </td>
                
            </tr>
            <tr>
                <td id="bottom">
                    <ui:insert name="bottom">
                        <ui:include src="/template/common/commonFooter.xhtml" />
                    </ui:insert>
                </td>
            </tr>
        </table>
            </div>
    </h:body>

</html>
