<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/pages/template/testemplate.xhtml">
        <ui:param name="contentTitle" value="Manajemen Data Web Service"/>
        <ui:param name="contentSubTitle" value="Daftar Daerah Pengirim Data Melalui Web Service"/>
        <ui:define name="breadcrumb">
            <li class="active">Manajemen Data</li>
            <li class="active">Web Service</li>
            <li class="active">List Data</li>
        </ui:define>
        <ui:define name="content">        
            <p:separator style="color: #dd4b39; background-color: #dd4b39; border-color: #dd4b39;" />
            <p:tabView style="font-size: 11px;">
                <p:tab title="APBD">
                    <ui:include src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/ManajemenData/WebService/pagecontent/ListDataApbdWS.xhtml"/>
                </p:tab>                
                <p:tab title="Realisasi APBD">
                    <ui:include src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/ManajemenData/WebService/pagecontent/ListDataLraWS.xhtml"/>
                </p:tab>
                <p:tab title="Arus Kas">
                    <ui:include src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/ManajemenData/WebService/pagecontent/ListDataArusKasWS.xhtml"/>
                </p:tab>
                <p:tab title="Neraca">
                    <ui:include src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/ManajemenData/WebService/pagecontent/ListDataNeracaWS.xhtml"/>
                </p:tab>
                <p:tab title="laporan Operasional">
                    <ui:include src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/ManajemenData/WebService/pagecontent/ListDataLoWS.xhtml"/>
                </p:tab>
                <p:tab title="laporan Perubahan Saldo">
                    <ui:include src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/ManajemenData/WebService/pagecontent/ListDataLpsalWS.xhtml"/>
                </p:tab>
                <p:tab title="laporan Perubahan Ekuitas">
                    <ui:include src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/ManajemenData/WebService/pagecontent/ListDataLpeWS.xhtml"/>
                </p:tab>
                <p:tab title="DTH">
                    <ui:include src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/ManajemenData/WebService/pagecontent/ListDataDthWS.xhtml"/>
                </p:tab>
                <p:tab title="Pinjaman Daerah">
                    <ui:include src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/ManajemenData/WebService/pagecontent/ListDataPdWS.xhtml"/>
                </p:tab>
                <p:tab title="Perhitungan Fihak Ketiga">
                    <ui:include src="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/ManajemenData/WebService/pagecontent/ListDataPfkWS.xhtml"/>
                </p:tab>
            </p:tabView>
            
        </ui:define>
    </ui:decorate>
</ui:composition>
