<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <!-- INTERFACE -->

    <cc:interface>
        <cc:attribute name="pagingModel" required="true"/>
        <cc:attribute name="pagingController" required="true"/>
        <!--<cc:attribute name="var" required="true"/>-->
        <cc:attribute name="columnLayout" required="true"/>
        <cc:attribute name="renderRegion" required="true"/>
        <!--<cc:attribute name="rowPerPage" />-->
        <!--<cc:attribute name="styleClass" />-->
        <!--<cc:attribute name="style"/>-->
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:dataTable value="#{cc.attrs.pagingModel.result}" var="row" class="table table-striped table-bordered table-condensed">
            <ui:decorate template="#{cc.attrs.columnLayout}"/>
        </h:dataTable>

        <div class="pull-right" >
            Page #{cc.attrs.pagingModel.currentPage} of #{cc.attrs.pagingModel.totalPage}
            ( #{cc.attrs.pagingModel.totalData} rows )

            <div class="btn-group margin-r-5">
                <h:commandButton value="prev" class="btn btn-primary btn-sm" disabled="#{cc.attrs.pagingModel.hasPreviousData}">
                    <f:ajax listener="#{cc.attrs.pagingController.onPrevious()}" event="click" execute="@form" render="#{cc.attrs.renderRegion}"></f:ajax>
                </h:commandButton>

                <ui:repeat value="#{cc.attrs.pagingModel.pages}" var="page" varStatus="status" >
                    <h:commandButton value="#{page}" class="btn btn-primary btn-sm" disabled="#{cc.attrs.pagingModel.currentPage eq page}">
                        <f:ajax  listener="#{cc.attrs.pagingController.onPage(page)}" event="click" execute="@form" render="#{cc.attrs.renderRegion}"></f:ajax>
                    </h:commandButton>
                </ui:repeat>

                <h:commandButton value="next" class="btn btn-primary btn-sm" disabled="#{not cc.attrs.pagingModel.hasNextData}">
                    <f:ajax listener="#{cc.attrs.pagingController.onNext()}" event="click" execute="@form" render="#{cc.attrs.renderRegion}"></f:ajax>
                </h:commandButton>
            </div>
        </div>
    </cc:implementation>
</html>