
#top {
    position: relative;
    color: #939598;
    padding: 5px;
    height: 100px;
    background-image: url("#{resource['images/newSIKDHeader3.png']}");
}

#topbottom {
    position: relative;
    /*background-color: #036fab;*/
    background: #006699;
    /*color: white;*/
    height:40px;
    padding: 5px;
}
#maptop {
    position: relative;
    /*background-color: #036fab;*/
    /*background: #006699;*/
    color: #036fab;
    height:20px;
    /*padding: 5px;*/
    font-size: 12px;
    padding-left: 5px;
/*    border: 1px;
    border-color: #036fab;*/
}

#bottom {
    position: relative;
    background-color: #036fab;
    /*background-color: #c2dfef;*/
    padding: 5px;
    /*margin: 10px 0px 0px 0px;*/
    
}


.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    min-height: 400px;
}


#top a:link, #top a:visited {
  color: #939598;
  font-weight : normal;
  /*text-decoration: none;*/
  text-decoration : underline;
}

#top a:link:hover, #top a:visited:hover  {
  color: #939598;
  font-weight : bold;
  text-decoration : underline;
}

.uimenubar, .ui-menu{
    background: url("#{resource['images/menuBack.png']}")  !important;
}
.ui-menuitem-text{
    color: white;
    font-weight: bold;
}
/*.ui-menu > .ui-icon-triangle-1-s{
    display: none !important;
}*/
.ui-menu-child{
    background: #006699 !important;
    white-space: nowrap;
    width: auto !important;
}
/*.ui-menubar{
    background-image: url("#{resource['images/menuBack.png']}");
    background-size: 100% 100%;
    //background: #006699;
 //  color: white;
    background-color: #006699;
}
/*.ui-menu-list{
    background-color: #006699;
}
.ui-menu-child, .ui-menuitem, .ui-menu{
    //background: #036fab;
    //background-image: url("#{resource['images/menuBack.png']}");
    background-color: #006699;
    //background-image: url("#{resource['images/menuBack.png']}");
    //color: white;
}
.ui-menuitem-text{
    color: white;
    font-weight: bold;
}
/*
.ui-widget-content{
    
    //border: none;//6px solid #a6c9e2;
    background:red;// url("#{resource['images/menuBack.png']}") 100% bottom repeat;
    //background:#fcfdfd url("#{resource['primefaces-start:images/ui-bg_inset-hard_100_fcfdfd_1x100.png']}") 50% bottom repeat-x;
    //color:#222222;
}
/*.ui-widget-content{
    background-color: #006699;
}
.ui-widget-overlay{
    background-color: red;
}
*/