html,body{
    margin:0;
    padding:0
}

body{
    font: 76% arial,sans-serif;
    text-align:center;
    background: linear-gradient(#b6c5f5, white);
}

p{
    margin:0 10px 10px
}

a{
    padding:5px; 
    text-decoration:none; 
    color:#000000;
}

div#header{
    width: 100%;
    height:200px;
    padding: 10px 10px;
    margin-bottom:0px;
    background-image: url("#{resource['images/header.png']}");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #FFFFFF;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;  
}
div#header h1{
    height:80px;
    line-height:80px;
    margin:0;
    padding-left:10px;
}

#bottomheader {
    width: 100%;
    height:auto;
    padding: 5px 10px;
    /*padding: 0px;*/
    background-color: #4a62ac;
}

div#container{
    text-align:left
}

div#content p{
    line-height:1.4
}

div#navigation{
    /*background:#F6F0E0;*/
    background: #FCFDFD;
}

div#navigation ul{
    margin:15px 0; 
    padding:0; 
    list-style-type:none;
}

div#navigation li{
    margin-bottom:5px;
}

div#extra{
    background:#CCC8B3;
}

div#footer{
    background:#BFBD93;
}

div#footer p{
    margin:0;
    padding:5px 10px
}

div#container{
    width:95%;
    margin:0 auto
}

div#content{
    float:right;
    width:100%;
}

div#navigation{
    float:left;
    width:100%;
}

div#extra{
    float:left;
    clear:left;
    width:25%;
}

div#footer {
    width: 100%;
    height:20px;
    padding: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    background-color: #4a62ac;
    color: #ffffff;
}

div#footerAtas {
    clear: both;
    width: 100%;
    height:70px; 
    padding: 10px 10px;
    background-color: #4b69c7;
    color: #ffffff;
}

#nonAjaxLoad {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}