body {
     
    font-size: 11px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    background: linear-gradient(#b6c5f5, white); 
}
#page{
    width: 90%;
    margin: 0 auto;
    /*padding: 10px 10px;*/
}

#top {    
    width: 100%;
    height:200px;
    padding: 10px 10px;
    margin-bottom:0px;
    background-image: url("#{resource['images/header.png']}");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #FFFFFF;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px; 
}

#bottom {
    background-color: #c2dfef;
    padding: 10px;
}

#kiri {
    background-color: red;//#ece3a5;
    padding: 10px;
    width: 150px;
    vertical-align: top;
}

#right {
    background-color: #ece3a5;
    padding: 10px;
    width: 150px;
    vertical-align: top;
}

#content {
/*    background-color: #dddddd;*/
background-color: #ffffff;
    padding: 10px;
    vertical-align: top;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}
