<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://java.sun.com/jsf/passthrough"
    xmlns:p="http://primefaces.org/ui"
    >

    <ui:decorate template="/pages/template/template.xhtml">
        <ui:param name="contentTitle" value="Master Setting"/>
        <ui:param name="contentSubTitle" value="User Web Service"/>
        <ui:define name="breadcrumb">
            <li class="active">User Menu</li>
            <li class="active">Password</li>
            <li class="active">Update Password Web</li>
        </ui:define>
        
        <ui:define name="content">
            <p:growl sticky="true" showDetail="true"/>
            <div class="container">
                <div class="box">
                     <div class="box-body">
                        <div class=" row form-group-sm">
                            <h:outputLabel for="tf_userName" value="Nama User" class="col-sm-2 control-label"/>
                            <div class="col-sm-4">
                                <h:outputText class="form-control" id="tf_userName" value="#{userPasswordUpdate.userName}" />
                            </div>
                        </div>   
                        <div class="row form-group-sm">
                                <h:outputLabel for="tf_newPassword" value="Password Baru" class="col-sm-2 control-label"/>
                                <div class="col-sm-4">
                                    <h:inputSecret  class="form-control" id="tf_newPassword" value="#{userPasswordUpdate.newPassword}"/>
                                </div>
                        </div>
                        <div class="row margin-bottom">
                        <h:form class="form-horizontal">
                            <div class="col-md-12">
                               <div class="btn-group">
                                  <h:commandButton value="Simpan" class="btn btn-primary" actionListener="#{userPasswordUpdate.doSave()}"/>
                                  <span></span>
                                  <h:commandButton value="Batal" class="btn btn-primary" actionListener="#{userPasswordUpdate.doCancel()}" immediate="true"/>
                               </div>
                            </div>
                        </h:form>
                        </div>
                         
                  </div>
                </div>
        </div>
             
        </ui:define>       
    </ui:decorate>
</ui:composition>

