<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>No. Urut</small></f:facet>
        <h:outputText value="#{row.kodeAkun}" />
    </h:column>

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>Uraian</small></f:facet>
        <h:outputText value="#{row.namaAkun}" />
    </h:column>

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>Anggaran Setelah Perubahan</small></f:facet>
        <h:outputText value="#{row.nilaiAkunApbdAsString}" />
    </h:column>

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>Realisasi</small></f:facet>
        <h:outputText value="#{row.nilaiAkunLraAsString}" />
    </h:column>

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>Lebih Kurang</small></f:facet>
        <h:outputText value="#{row.selisihAsString}" />
    </h:column>

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>%</small></f:facet>
        <h:outputText value="#{row.persentaseAsString}" />
    </h:column>

</ui:composition>

