<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default2.css"/>
        <h:outputStylesheet name="./css/sikdlayout.css"/>
        <title>SIKD</title>
    </h:head>

    <h:body>
        <div id="top">
            <ui:insert name="top">               
                <table align="right" cellpadding="5px" cellspacing="5px"  style="height: 100%; vertical-align: bottom; min-width: 75px;" >
                    <tr>
                        <td valign="bottom" style="line-height: 20px;">
                            Login as <p:outputLabel value="#{loginMBean.user.userContact.fullName}"/> <br/>
                            <p:commandLink style="text-align: right;" actionListener="#{loginMBean.logout}" value="logout" />
                        </td>
                    </tr>
                </table>

            </ui:insert>
        </div>

        <div id="topbottom" class="topbottombottom">
            <ui:insert name="menu">
                <ui:include src="/template/Menu.xhtml" />
            </ui:insert>
        </div>
        <div id="maptop">            
            <ui:insert name="mapaddress">
                <p:outputLabel value="#{klikMenuMBean.halaman}"/>
            </ui:insert>
        </div>

        <div id="content" class="center_content">            
            <center>
                <p:ajaxStatus onstart="PF('status').show()" oncomplete="PF('status').hide()"/>
                <p:dialog showHeader="false" widgetVar="status" modal="true" resizable="false"
                          draggable="false" closable="false"  >
                    <h:panelGrid id="blockContent" columns="2" bgcolor="white">
                        <h:graphicImage value="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/resources/images/ajaxloader.gif" 
                                        style="margin-right:12px; vertical-align:middle;"/>
                        <h:outputText value="Proses ..."
                                      style="white-space:nowrap;"/>
                    </h:panelGrid>
                </p:dialog>
                <ui:insert name="content">Content</ui:insert>
            </center>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">
                @djpk
            </ui:insert>
        </div>

    </h:body>

</html>
