<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/mystyles.css"/>
        <title>SIKD</title>
    </h:head>

    <h:body>
        <div id="wrapper">
            <div id="header">
                <div id="leftheader"/>
                <div id="centerheader"> 
                    <table width="100%">
                        <tr>
                            <td width="80%"> </td>
                            <td width="20%">
                                <h:form>
                                    <p:menubar model="#{menuMBean.usermodel}"/>
                                </h:form>
                            </td>
                        </tr>
                        
                    </table>
                </div>
            </div>

            <div id="leftcolumn">
                <div id="navigation">
                    <h:form>                      
                        <p:inputText placeholder="Search Data"/>
                    </h:form>
                </div>
                <div id="leftcenter"> 
                    <ui:insert name="menu">
                        <h:form id="fmenu">
                            <p:panelMenu model="#{menuMBean.model}"/>
                        </h:form>
                    </ui:insert>
                </div>
            </div>
            <div id="rightcolumn">
                <div class="navigation">kanan</div>
                <div id="rightcenter">
                    <ui:insert name="content">content</ui:insert>
                </div>
            </div>
            <div id="footer">
                @djpk
            </div>
        </div>

    </h:body>

</html>