<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml">

    <ui:decorate template="/pages/template/pf-tabbed-report-template.xhtml">
        <ui:param name="backBean" value="#{apbdLampiranIV}"/>
        <ui:param name="contentForm" value="lampiran4-content-form"/>
        <ui:param name="dataFilterForm" value="lampiran4-data-filter-form"/>
        <ui:define name="filter-layout">
            <ui:decorate template="/Laporan/LaporanAPBD/apbd/lampiran4/layout/filter-layout.xhtml">
            </ui:decorate>

        </ui:define>

        <ui:define name="columns">
            <ui:decorate template="/Laporan/LaporanAPBD/apbd/lampiran4/layout/table-layout.xhtml">
            </ui:decorate>
        </ui:define>

    </ui:decorate>

</ui:composition>

