<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>No</small></f:facet>
        <h:outputText value="#{row.no}" />
    </h:column>

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>Uraian</small></f:facet>
        <h:outputText value="#{row.uraian}" />
    </h:column>

    <h:column headerClass="text-center">
        <f:facet name="header"><small>Dipotong/Dipungut</small></f:facet>
        <h:outputText value="#{row.pungutanAsString}"/>
    </h:column>

    <h:column headerClass="text-center">
        <f:facet name="header"><small>Disetor</small></f:facet>
        <h:outputText value="#{row.setoranAsString}"/>
    </h:column>
    
    <h:column headerClass="text-center">
        <f:facet name="header"><small>Selisih</small></f:facet>
        <h:outputText value="#{row.selisihAsString}"/>
    </h:column>

</ui:composition>

