<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>No. Urut</small></f:facet>
        <h:outputText value="#{row.noUrut}" />
    </h:column>

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>Program</small></f:facet>
        <h:outputText value="#{row.kodePemda}" />
    </h:column>

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>Kegiatan</small></f:facet>
        <h:outputText value="#{row.namaPemda}" />
    </h:column>

    <h:column headerClass="text-center" >
        <f:facet name="header"><small>Nilai</small></f:facet>
        <h:outputText value="#{row.nilaiAsString}" />
    </h:column>

</ui:composition>

