<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    >

    <ui:decorate template="/pages/template/common/layout/basic-filter-layout.xhtml"/>

    <div class="form-group form-group-sm">
        <h:outputText value="Kode Data" class="col-sm-2 control-label"/>
        <div class="col-sm-10">
            <h:selectOneRadio value="#{backBean.dataCode}" >
                <f:selectItem itemValue="MURNI" itemLabel="APBD Murni"/>
                <f:selectItem itemValue="PERUBAHAN" itemLabel="APBD Perubahan" />
                <f:ajax listener="#{backBean.onFilterChanged()}" event="change" execute="@this" render=":content-form"/>
            </h:selectOneRadio>
        </div>
    </div>

    <ui:decorate template="/pages/template/common/layout/coa-filter-layout.xhtml"/>


</ui:composition>