<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    >

    <div class="form-group form-group-sm">
        <h:outputText value="Jenis COA" class="col-sm-2 control-label"/>
        <div class="col-sm-10">
            <h:selectOneRadio value="#{backBean.coaType}" >
                <f:selectItem itemValue="1" itemLabel="PMDN 13" />
                <f:selectItem itemValue="2" itemLabel="PMDN 64" />
                <f:ajax listener="#{backBean.onFilterChanged()}" event="change" execute="@this" render=":#{contentForm eq null ?'content-form':contentForm}"/>
            </h:selectOneRadio>
        </div>
    </div>


</ui:composition>