<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    >

    <div class="form-group form-group-sm">
        <h:outputText value="Fungsi" class="col-sm-2 control-label"/>
        <div class="col-sm-10">
            <h:selectOneMenu value="#{backBean.fungsi}" class="form-control select2 select2-hidden-accessible" style="width: 200px">
                <f:selectItem  itemLabel="..."  noSelectionOption="true" />
                <f:selectItem itemValue="01" itemLabel="Pelayanan Umum" />
                <f:selectItem itemValue="02" itemLabel="Pertahanan" />
                <f:selectItem itemValue="03" itemLabel="Ketertiban dan Ketentraman" />
                <f:selectItem itemValue="04" itemLabel="Ekonomi" />
                <f:selectItem itemValue="05" itemLabel="Lingkungan Hidup" />
                <f:selectItem itemValue="06" itemLabel="Perumahan dan Fasilitas Umum" />
                <f:selectItem itemValue="07" itemLabel="Kesehatan" />
                <f:selectItem itemValue="08" itemLabel="Pariwisata dan Budaya" />
                <f:selectItem itemValue="09" itemLabel="Agama" />
                <f:selectItem itemValue="10" itemLabel="Pendidikan" />
                <f:selectItem itemValue="11" itemLabel="Perlindungan Sosial" />
                <f:ajax listener="#{backBean.onFilterChanged()}" event="change" execute="@this" render=":#{contentForm eq null ?'content-form':contentForm}"/>
            </h:selectOneMenu>
        </div>
    </div>


</ui:composition>