<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    >


    <div class="form-group form-group-sm">
        <h:outputText value="Periode" class="col-sm-2 control-label"/>
        <div class="col-sm-10">
            <h:selectOneMenu value="#{backBean.periode}"  class="form-control select2 select2-hidden-accessible" style="width: 200px">
                <f:selectItem itemLabel="..."/>
                <f:selectItem itemValue="1" itemLabel="Januari"/>
                <f:selectItem itemValue="2" itemLabel="Februari"/>
                <f:selectItem itemValue="3" itemLabel="Maret"/>
                <f:selectItem itemValue="4" itemLabel="April"/>
                <f:selectItem itemValue="5" itemLabel="Mei"/>
                <f:selectItem itemValue="6" itemLabel="Juni"/>
                <f:selectItem itemValue="7" itemLabel="Juli"/>
                <f:selectItem itemValue="8" itemLabel="Agustus"/>
                <f:selectItem itemValue="9" itemLabel="September"/>
                <f:selectItem itemValue="10" itemLabel="Oktober"/>
                <f:selectItem itemValue="11" itemLabel="November"/>
                <f:selectItem itemValue="12" itemLabel="Desember"/>

                <f:ajax listener="#{backBean.onFilterChanged()}" event="change" execute="@this" render=":#{contentForm eq null ?'content-form':contentForm}"/>
            </h:selectOneMenu>
        </div>
    </div>



</ui:composition>