<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

    <h:column headerClass="text-center">
        <f:facet name="header"><small>Urusan Program</small></f:facet>
    </h:column>

    <h:column headerClass="text-center">
        <f:facet name="header"><small>Urusan Pelaksana</small></f:facet>
    </h:column>

    <h:column headerClass="text-center">
        <f:facet name="header"><small>SKPD</small></f:facet>
    </h:column> 

    <h:column headerClass="text-center">
        <f:facet name="header"><small>Program</small></f:facet>
    </h:column> 

    <h:column headerClass="text-center">
        <f:facet name="header"><small>Kegiatan</small></f:facet>
    </h:column> 
    <h:column headerClass="text-center">
        <f:facet name="header"><small>Fungsi</small></f:facet>
    </h:column> 
    <h:column headerClass="text-center">
        <f:facet name="header"><small>Rincian kode rekening</small></f:facet>
        <a class="btn btn-block btn-sm btn-primary" data-toggle="modal" data-target="#dlg-view-account"><small>View</small></a>
    </h:column> 
    <h:column headerClass="text-center">
        <f:facet name="header"><small>Aksi</small></f:facet>
        <div class="btn-group">
            <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#dlg-add-account">Add</a>
            <h:commandButton value="Edit" class="btn btn-sm btn-primary"/>
            <h:commandButton value="Delete" class="btn btn-sm btn-primary"/>
        </div>
    </h:column> 


    <div class="modal fade" id="dlg-add-account" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-plus-square"></i> Tambah Kegiatan</h4>
                </div>
                <h:form >
                    <ui:decorate template="/ManajemenData/InputData/apbd/layout/kode-rekening-form-layout.xhtml"/>

                    <div class="modal-footer clearfix">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>

                        <h:commandButton data-dismiss="modal" value="Simpan" class="btn btn-primary fa fa-save pull-left">
                            <f:ajax render=":content-form:content-table"  event="click" execute="@form"/>
                        </h:commandButton>
                    </div>
                </h:form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="dlg-view-account" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-plus-square"></i> Tambah Kegiatan</h4>
                </div>
                <h:form >
                    <ui:decorate template="/pages/template/table-template.xhtml">
                        <ui:define name="columns">
                            <h:column>
                                <f:facet name="header"><small>Kode Akun</small></f:facet>
                            </h:column>
                            <h:column>
                                <f:facet name="header"><small>Nama Akun</small></f:facet>    
                            </h:column>

                            <h:column>
                                <f:facet name="header"><small>Nilai Anggaran</small></f:facet>
                            </h:column>
                            <h:column>
                                <f:facet name="header"><small>Aksi</small></f:facet>
                                <div class="btn-group">
                                    <h:commandButton value="Edit" class="btn btn-sm btn-primary"/>
                                    <h:commandButton value="Delete" class="btn btn-sm btn-primary"/>
                                </div>
                            </h:column>
                        </ui:define>
                    </ui:decorate>
                    <div class="modal-footer clearfix">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>Discard</button>

                        <h:commandButton data-dismiss="modal" value="Simpan" class="btn btn-primary fa fa-save pull-left">
                            <f:ajax render=":content-form:content-table"  event="click" execute="@form"/>
                        </h:commandButton>
                    </div>
                </h:form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


</ui:composition>

