<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/pages/template/testemplate.xhtml">
            <ui:param name="contentTitle" value="Analisa"/>
        <ui:param name="contentSubTitle" value="Fungsi Kesehatan"/>
        <ui:define name="breadcrumb">
            <li class="active">Analisa</li>
            <li class="active">Fungsi</li>
            <li class="active">Fungsi Kesehatan</li>
        </ui:define>
            <ui:define name="content">        
                <p:separator style="color: #dd4b39; background-color: #dd4b39; border-color: #dd4b39;" />
                <h:form id="formapp" >  
                    <table id="tableCombo" align="center">
                        <tr>
                            <td style="padding: 5px;"> <h:outputText value="Tahun Anggaran " />   </td>
                            <td style="padding: 5px;"> <h:outputText value=" : " />   </td>
                            <td style="padding: 5px;"> 
                                <p:selectOneMenu id="comboyear" value="#{kesehatanMBean.selectedYear}" panelStyle="font-size:11px; width: 200px;" style="font-size:11px; width: 200px">
                                    <f:selectItem itemLabel="Pilih Tahun Anggaran...." itemValue="" />  
                                    <f:selectItems value="#{kesehatanMBean.years}" var="yearsitem" itemLabel="#{yearsitem}" itemValue="#{yearsitem}" />
                                    <p:ajax process="comboyear" update="outpanel1" event="change" listener="#{kesehatanMBean.onYearChange}"/>
                                </p:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;"> <h:outputText value="Pemerintah Daerah "/>  </td>
                            <td style="padding: 5px;"> <h:outputText value=":"/></td>
                            <td style="padding: 5px;"> 
                                <p:selectOneMenu filter="true" filterMatchMode="contains" id="combopemda" value="#{kesehatanMBean.selectedProvince}" 
                                                 panelStyle="font-size:11px; width: 300px;" style="font-size:11px; width: 300px"
                                                 converter="omnifaces.SelectItemsConverter">
                                    <f:selectItem itemLabel="Pilih Pemerintah Daerah...." itemValue="" />  
                                    <f:selectItems value="#{kesehatanMBean.provinces}" var="pemdas" itemLabel="#{pemdas.namaPemda}" itemValue="#{pemdas}" />
                                    <p:ajax process="combopemda" update="outpanel1" event="change" listener="#{kesehatanMBean.onYearChange}"/>
                                </p:selectOneMenu>
                            </td>
                        </tr>
                    </table>

                    <center>
                        <p:blockUI block="formapp" trigger="comboyear combopemda">
                            <h:panelGrid id="blockContent" columns="2" bgcolor="white">
                                <h:graphicImage value="../resources/images/ajaxloader.gif" 
                                                style="margin-right:12px; vertical-align:middle;"/>
                                <h:outputText value="Proses ..."
                                              style="white-space:nowrap;"/>
                            </h:panelGrid>
                        </p:blockUI>
                        <p:outputPanel id="outpanel1">
                            <p:panelGrid style="width:100%; background-color: #FFC000;">
                                <p:row>
                                    <p:column style="text-align: center; line-height: 150%; background-color: #FFC000;" colspan="3" >
                                        <b>                                           
                                            #{kesehatanMBean.pemdaLabel}<br/>
                                            FUNGSI KESEHATAN<br/>  
                                        #{kesehatanMBean.labelYear}<br/></b>
                                    </p:column> 
                                </p:row>
                            </p:panelGrid>                            
                            <br/>  
                            <h:outputScript>
                                function ext() {
                                this.cfg.seriesDefaults.rendererOptions.varyBarColor = true;
                                }                               
                            </h:outputScript> 
                            <p:chart id="chart" type="bar" model="#{kesehatanMBean.barModel}" style="font-size: 10px; width: 90%; height: #{kesehatanMBean.barHeight}"/>
                            
                            <br/>
                            
                            <p:dataTable id="tabel1" var="obj" value="#{kesehatanMBean.fungsis}"
                                         style="font-size: 11px;width: 90%;" >

                                <p:columnGroup type="header">
                                    <p:row>                                        
                                        <p:column style="text-align: center;width: 25%; word-break: normal; " headerText="Kode Pemda"/>
                                        <p:column style="text-align: center;width: 50%; word-break: normal; " headerText="Nama Pemda"/>
                                        <p:column style="text-align: center;width: 25%; word-break: normal; " headerText="Nilai"/>
                                    </p:row>                                    
                                </p:columnGroup>

                                <p:column style="text-align: left;">
                                    #{obj.kodePemda}
                                </p:column>
                                <p:column style="text-align: left;">
                                    #{obj.namaPemda}
                                </p:column>
                                <p:column style="text-align: right; word-break: break-all;">
                                    #{obj.nilaiAsString}
                                </p:column>
                            </p:dataTable>
                        </p:outputPanel>
                        <br/>
                    </center>
                </h:form>
            </ui:define>
        </ui:decorate>
        </ui:composition>
    