<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <p:columnGroup type="header"> 
        <p:row>
            <p:column rowspan="2" style="text-align: center;width: 20%;" headerText="KODE"/>
            <p:column rowspan="2" style="text-align: center;width: 30%;" headerText="URAIAN URUSAN, ORGANISASI, PROGRAM DAN KEGIATAN"/>
            <p:column colspan="3" style="text-align: center;width: 45%;" headerText="JENIS BELANJA"/>
            <p:column rowspan="2" style="text-align: center;width: 15%;" headerText="JUMLAH(Rp)"/>
        </p:row>
        <p:row>
            <p:column style="text-align: center;width: 15%;" headerText="PEGAWAI"/>
            <p:column style="text-align: center;width: 15%;" headerText="BARANG DAN JASA"/>
            <p:column style="text-align: center;width: 15%;" headerText="MODAL"/>                                
        </p:row>
        <p:row>
            <p:column style="text-align: center;width: 20%;" headerText="1"/>
            <p:column style="text-align: center;width: 30%;" headerText="2"/>
            <p:column style="text-align: center;width: 15%;" headerText="3"/> 
            <p:column style="text-align: center;width: 15%;" headerText="4"/>
            <p:column style="text-align: center;width: 15%;" headerText="5"/>
            <p:column style="text-align: center;width: 15%;" headerText="6 = 3 + 4 + 5"/> 
        </p:row>
    </p:columnGroup> 

    <p:column style="text-align: left;  height: 18px; word-break: break-all;">
        <h:outputText value="#{row.kode}" style="#{row.fontStyle}"/>
    </p:column>
    <p:column style="text-align: left">
        <h:outputText value="#{row.uraian}" style="#{row.fontStyle}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <h:outputText value="#{row.pegawai}" style="#{row.fontStyle}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <h:outputText value="#{row.barangJasa}" style="#{row.fontStyle}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <h:outputText value="#{row.modal}" style="#{row.fontStyle}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <h:outputText value="#{row.jumlah}" style="#{row.fontStyle}"/>
    </p:column>

</ui:composition>

