<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/pages/template/testemplate.xhtml">
        <ui:param name="contentTitle" value="Status"/>
        <ui:param name="contentSubTitle" value="Status Verifikasi"/>
        <ui:define name="breadcrumb">
            <li class="active">Pengaturan</li>
            <li class="active">Master Setting</li>
            <li class="active">Status Verifikasi</li>
        </ui:define>

        <ui:define name="content">
            <p:separator style="color: #dd4b39; background-color: #dd4b39; border-color: #dd4b39;" />
            <h:form id="formcontent">  
                <center>
                    <br/>
                        <p:dataTable id="tabel1" var="obj" value="#{statusVerifikasiMBean.statusDatas}"
                                     style="font-size: 11px;width: 90%;" >

                            <p:columnGroup type="header">
                                <p:row>                                        
                                    <p:column style="text-align: center;width: 30%; word-break: normal; " headerText="Kode"/>
                                    <p:column style="text-align: center;width: 70%; word-break: normal; " headerText="Deskripsi Status Verifikasi"/>
                                </p:row>                                    
                            </p:columnGroup>

                            <p:column style="text-align: left;">                                
                                #{obj.kode}
                            </p:column>
                            <p:column style="text-align: left;">
                                #{obj.nama}
                            </p:column>
                        </p:dataTable>
                    
                </center>
            </h:form>
        </ui:define>
    </ui:decorate>
</ui:composition>
