<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/pages/template/testemplate.xhtml">
        <ui:param name="contentTitle" value="User Password Web Service"/>
        <!--  <ui:param name="contentSubTitle" value="User Password Web Service"/> -->
        <ui:define name="breadcrumb">
            <li class="active">Pengaturan</li>
            <li class="active">Master Setting</li>
            <li class="active">User Password Web Service</li>
        </ui:define>

        <ui:define name="content">
            <p:growl id="upassmsg" sticky="true" showDetail="true"/>
            <div class="box">
                <div class="box-body">
                    <div class="form-group-sm">
                        <h:outputLabel for="tf_userName" value="Nama User" class="col-sm-2 control-label"/>
                        <div class="col-sm-4">
                            <h:outputText class="form-control" id="tf_userName" value="#{userPassordWSMBean.userName}" />
                        </div>
                    </div>   
                    <div class="form-group-sm">
                        <h:outputLabel for="tf_password" value="Password" class="col-sm-2 control-label"/>
                        <div class="col-sm-4">
                            <h:outputText  class="form-control" id="tf_password" value="#{userPassordWSMBean.password}"/>
                        </div>
                    </div>
                </div>
            </div>

        </ui:define>       
    </ui:decorate>
</ui:composition>

