<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/pages/template/testemplate.xhtml">
        <ui:param name="contentTitle" value="Pengaturan"/>
        <ui:param name="contentSubTitle" value="Master Setting Waktu"/>
        <ui:define name="breadcrumb">
            <li class="active">Pengaturan</li>
            <li class="active">Master Setting</li>
            <li class="active">Waktu</li>
        </ui:define>
            <ui:define name="content">        
                <p:separator style="color: #dd4b39; background-color: #dd4b39; border-color: #dd4b39;" />
                <h:form id="formapp" >  
                    <center>
<!--                        <p:blockUI block="formapp" trigger="comboyear combopemda">
                            <h:panelGrid id="blockContent" columns="2" bgcolor="white">
                                <h:graphicImage value="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/resources/images/ajaxloader.gif" 
                                                style="margin-right:12px; vertical-align:middle;"/>
                                <h:outputText value="Proses ..."
                                              style="white-space:nowrap;"/>
                            </h:panelGrid>
                        </p:blockUI>-->
                        <p:outputPanel id="outpanel1">
                            <p:dataTable id="tabel1" var="obj" value="#{waktuMBean.waktus}"
                                         style="font-size: 11px;width: 70%;"  
                                         editable="true" >
                                <p:ajax event="rowEdit" listener="#{waktuMBean.onEdit}"/>

                                <p:columnGroup type="header">
                                    <p:row>                                        
                                        <p:column style="text-align: center;width: 50%; word-break: normal; " headerText="IKD"/>
                                        <p:column style="text-align: center;width: 20%; word-break: normal; " headerText="tanggal pengiriman"/>
                                        <p:column style="text-align: center;width: 20%; word-break: normal; " headerText="bulan pengiriman"/>
                                        <p:column style="text-align: center;width: 10%; word-break: normal; " headerText="ubah"/>
                                    </p:row>                                    
                                </p:columnGroup>

                                <p:column style="text-align: left;">
                                    #{obj.ikd}
                                </p:column>
                                <p:column style="text-align: right;">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{obj.tanggal}" />
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{obj.tanggal}" style="font-size:11px; width: 250px"/>                                            
                                        </f:facet>
                                    </p:cellEditor> 
                                </p:column>
                                <p:column style="text-align: right; word-break: break-all;">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{obj.bulan}" />
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText value="#{obj.bulan}" style="font-size:11px; width: 250px"/>                                            
                                        </f:facet>
                                    </p:cellEditor> 
                                </p:column>
                                <p:column>
                                    <p:rowEditor/>
                                </p:column>
                            </p:dataTable>
                        </p:outputPanel>
                        <br/>
                    </center>
                </h:form>
            </ui:define>
        </ui:decorate>
        </ui:composition>
    