<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html">

    <ui:decorate template="/pages/template/report-template.xhtml">
        <ui:define name="filter-layout">
            <ui:decorate template="/Laporan/LKPDAkrual/lpe/layout/filter-layout.xhtml">
            </ui:decorate>

        </ui:define>

        <ui:define name="columns">
            <ui:decorate template="/Laporan/LKPDAkrual/lpe/layout/table-layout.xhtml">
            </ui:decorate>
        </ui:define>

<!--        <ui:define name="report-footer">
            <div class="btn-group">
                <h:commandButton value="Edit" class="btn btn-primary"/>
                <h:commandButton value="Delete" class="btn btn-danger"/>
            </div>
        </ui:define>-->

    </ui:decorate>

</ui:composition>

