<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/pages/template/testemplate.xhtml">
        <ui:param name="contentTitle" value="Status Data"/>
        <ui:param name="contentSubTitle" value="Update Status Data"/>
        <ui:define name="breadcrumb">
            <li class="active">Status Data</li>
            <li class="active">Update Status Data</li>
        </ui:define>
        <ui:define name="content">        
            <p:separator style="color: #dd4b39; background-color: #dd4b39; border-color: #dd4b39;" />            
            <h:form id="form1" >  
                    <table id="tableCombo" align="center">
                        <tr>
                            <td style="padding: 5px;"> <h:outputText value="Tahun Anggaran " />   </td>
                            <td style="padding: 5px;"> <h:outputText value=" : " />   </td>
                            <td style="padding: 5px;"> 
                                <p:selectOneMenu id="comboyear" value="#{updateStatusDataMBean.selectedYear}" panelStyle="font-size:11px; width: 200px;" style="font-size:11px; width: 200px">
                                    <f:selectItem itemLabel="Pilih Tahun Anggaran...." itemValue="" />  
                                    <f:selectItems value="#{updateStatusDataMBean.years}" var="yearsitem" itemLabel="#{yearsitem}" itemValue="#{yearsitem}" />
                                    <p:ajax process="comboyear" update="panelall tabel1" event="change" listener="#{updateStatusDataMBean.onYearChange}"/>
                                </p:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;"> <h:outputText value="Pemerintah Daerah " rendered="#{updateStatusDataMBean.viewPemda}" />  </td>
                            <td style="padding: 5px;"> <h:outputText value=":" rendered="#{updateStatusDataMBean.viewPemda}"/></td>
                            <td style="padding: 5px;"> 
                                <p:selectOneMenu id="combopemda" rendered="#{updateStatusDataMBean.viewPemda}" filter="true" filterMatchMode="contains"
                                                 value="#{updateStatusDataMBean.selectedPemda}" 
                                                 panelStyle="font-size:11px; width: 200px;" style="font-size:11px; width: 200px"
                                                 converter="omnifaces.SelectItemsConverter">
                                    <f:selectItem itemLabel="Silahkan pemerintah daerah.." itemValue="" />
                                    <f:selectItems value="#{updateStatusDataMBean.pemdas}" var="pem" itemLabel="#{pem.namaPemda}" itemValue="#{pem}" />
                                    <p:ajax process="combopemda" update="panelall tabel1" event="change" listener="#{updateStatusDataMBean.onYearChange}"/>
                                </p:selectOneMenu>
                            </td>
                        </tr>
                    </table>
                    
                    <p:separator id="separator" style="width: 80%"/> 
                    <br/>

                    <center>
                        <p:blockUI block="form1" trigger="comboyear combopemda">
                            <h:panelGrid id="blockContent" columns="2" bgcolor="white">
                                <h:graphicImage value="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/resources/images/ajaxloader.gif" 
                                                style="margin-right:12px; vertical-align:middle;"/>
                                <h:outputText value="Proses ..."
                                              style="white-space:nowrap;"/>
                            </h:panelGrid>
                        </p:blockUI>
                        <p:outputPanel id="panelall">

                            <p:panelGrid style="width:80%">
                                <p:row>                              
                                    <p:column style="text-align: center; line-height: 150%;" colspan="3" >
                                        <b>                                            
                                            STATUS DATA INFORMASI KEUANGAN DAERAH<br/>  
                                        #{updateStatusDataMBean.labelYear}<br/></b>
                                    </p:column> 
                                </p:row>
                            </p:panelGrid>                            
                            <br/>  
                            
                            <p:dataTable id="tabel1" var="obj" value="#{updateStatusDataMBean.statusPemdas}"
                                         style="font-size: 11px;width: 90%;" editable="true" >
                                <p:ajax event="rowEdit" listener="#{updateStatusDataMBean.onEdit}"/>

                                <p:columnGroup type="header">
                                    <p:row>                                        
                                        <p:column style="text-align: center;width: 40%; word-break: normal; " headerText="Informasi Keuangan Daerah"/>
                                        <p:column style="text-align: center;width: 40%; word-break: normal; " headerText="Status"/>
                                        <p:column style="text-align: center;width: 20%; word-break: normal; " headerText="..."/>
                                    </p:row>                                    
                                </p:columnGroup>

                                <p:column style="text-align: left; #{obj.style}" >                                    
                                    #{obj.ikd}
                                </p:column>
                                <p:column style="text-align: left;#{obj.style}">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <h:outputText value="#{obj.statusData.nama}" />
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:selectOneMenu id="combosds" 
                                                             value="#{obj.statusData}" 
                                                             panelStyle="font-size:11px; width: 250px;" style="font-size:11px; width: 250px"
                                                             converter="omnifaces.SelectItemsConverter">
                                                <f:selectItems value="#{updateStatusDataMBean.statusDatas}" var="pem" itemLabel="#{pem.nama}" itemValue="#{pem}" />
                                            </p:selectOneMenu>
                                        </f:facet>
                                    </p:cellEditor> 
                                </p:column>
                                <p:column style="text-align: right;#{obj.style};">
                                    <p:rowEditor rendered="#{obj.statusData.kode>-1}"/>
                                </p:column>
                            </p:dataTable>
                        </p:outputPanel>
                        <br/>
                    </center>
                </h:form>
        </ui:define>
    </ui:decorate>
</ui:composition>