<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml">
    <ui:decorate template="/pages/template/single-page-transaction-templates.xhtml">

        <ui:define name="breadcrumb">
            <li>Laporan</li>
            <li>Laporan APBD</li>
            <li>Perubahan</li>
        </ui:define>

        <ui:param name="contentTitle" value="Laporan"/>
        <ui:param name="contentSubTitle" value="APBD Perubahan"/>
        <ui:param name="backBean" value="#{laporanAPBDPerubahan}"/>
    </ui:decorate>
</ui:composition>

