<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <section class="content">
        <div class="box">
            <div class="box-body">

                <div class="row margin-bottom">
                    <h:form id="data-filter-form" class="form-horizontal">
                        <div class="col-md-12">
                            <ui:insert name="filter-layout"/>
                        </div>
                    </h:form>
                </div>

                <div class="row margin-bottom">
                    <h:form class="form-horizontal">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <h:commandButton value="Ubah" class="btn btn-primary"/>
                                <h:commandButton value="Simpan"  class="btn btn-primary"/>
                                <h:commandButton value="Batal" class="btn btn-primary"/>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr/>
                            <ui:insert name="data-layout"/>
                        </div>
                    </h:form>
                </div>

                <hr/>
                <div class="row margin-bottom">

                    <div class="col-md-12">
                        <ui:insert name="beforeTable"/>
                    </div>
                    <div class="col-md-12">
                        <h:form id="content-form">
                            <ui:decorate template="/pages/template/table-template.xhtml"/>
                        </h:form>
                    </div>

                </div>
            </div>
        </div>
    </section>
</ui:composition>