<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">


    <div class="row margin-bottom">
        <h:form id="#{dataFilterForm eq null ?'data-filter-form' : dataFilterForm}" class="form-horizontal">
            <div class="col-md-12">
                <ui:insert name="filter-layout"/>
            </div>
        </h:form>
    </div>

    <hr/>
    <div class="row margin-bottom">

        <div class="col-md-12">
            <ui:insert name="report-title"/>
        </div>

        <div class="col-md-12">
            <h:form id="#{contentForm eq null ?'content-form' : contentForm}">
                <p:dataTable id="content-table" value="#{backBean.data}" var="row"
                             emptyMessage="Tidak Ada Data Yang Sesuai Kriteria Yang Dimasukan."
                             paginator="true" rows="15" paginatorTemplate="{CurrentPageReport}
                             {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink}
                             {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="15,20,30,40,50"
                             style="font-size: 9px; width: 100%;">
                    <ui:insert name="columns"/>
                </p:dataTable>
            </h:form>
        </div>

    </div>
</ui:composition>