<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <ui:insert name="tabList"/>
            </ul>
            <div class="tab-content">
                <ui:insert name="tabContent"/>
            </div>
        </div>
        </section>
</ui:composition>