<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/pages/template/testemplate.xhtml">
        <ui:param name="contentTitle" value="Analisa"/>
        <ui:param name="contentSubTitle" value="Indikator Pembiayaan"/>
        <ui:define name="breadcrumb">
            <li class="active">Analisa</li>
            <li class="active">Indikator</li>
            <li class="active">Indikator Pembiayaan</li>
        </ui:define>
        
        <ui:define name="content">
            <p:separator style="color: #dd4b39; background-color: #dd4b39; border-color: #dd4b39;" />
            <h:form id="formcontent">            
            <table id="tableCombo" align="center">
                <tr>
                    <td style="padding: 5px;"> <h:outputText value="Tahun Anggaran " />   </td>
                    <td style="padding: 5px;"> <h:outputText value=" : " />   </td>
                    <td style="padding: 5px;"> 
                        <p:selectOneMenu id="comboyear" value="#{biayaMBean.selectedYear}" panelStyle="font-family: sans-serif; font-size: 11px;"  
                                         style="font-family: sans-serif; font-size: 11px;">
                            <f:selectItem itemLabel="Pilih Tahun Anggaran...." itemValue="" />  
                            <f:selectItems value="#{biayaMBean.years}" var="yy" itemLabel="#{yy}" itemValue="#{yy}" />  
                            <p:ajax process="comboyear" update="idrapbdall chart" event="change" listener="#{biayaMBean.onYearChange}"/>
                        </p:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;"> <h:outputText value="Pemerintah Daerah " />   </td>
                    <td style="padding: 5px;"> <h:outputText value=" : " />   </td>
                    <td style="padding: 5px;"> 
                        <p:selectOneMenu id="combopemda" filter="true" filterMatchMode="contains" 
                                         value="#{biayaMBean.selectedProvince}" panelStyle="font-family: sans-serif; font-size: 11px;"
                                         style="font-family: sans-serif; font-size: 11px;" converter="omnifaces.SelectItemsConverter">
                            <f:selectItem itemLabel="Pilih Provinsi...." itemValue="" />  
                            <f:selectItems value="#{biayaMBean.provinces}" var="yyy" itemLabel="#{yyy.namaPemda}" itemValue="#{yyy}" />  
                            <p:ajax process="combopemda" update="idrapbdall chart" event="change" listener="#{biayaMBean.onYearChange}"/>
                        </p:selectOneMenu>
                    </td>
                </tr>
            </table>
            <center>
                <p:outputPanel id="idrapbdall">

                    <p:panelGrid style="width:80%">
                        <p:row>                              
                            <p:column style="text-align: center; line-height: 150%;" colspan="3" >
                                <b>
                                    TINGKAT KEMAMPUAN DAERAH<br/>
                                    DALAM MENDANAI BELANJA DAN PENGELUARAN DAERAH<br/>
                                    #{biayaMBean.labelYear}<br/></b>
                            </p:column> 
                        </p:row>
                    </p:panelGrid>

                    <br/>  
                    <h:outputScript>
                        function ext() {
                        this.cfg.seriesDefaults.rendererOptions.varyBarColor = true;
                        }                               
                    </h:outputScript> 
                    <p:chart id="chart" type="bar" model="#{biayaMBean.barModel}" style="font-size: 10px; width: 90%; height: 400px;"/>

                    <br/>  


                </p:outputPanel>
            </center>
            </h:form>
        </ui:define>
    </ui:decorate>
</ui:composition>
