<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <p:column>
        <f:facet name="header"><small>User Name</small></f:facet>
        <h:outputText value="#{row.username}"/>
    </p:column>
    
    <p:column>
        <f:facet name="header"><small>Grup</small></f:facet>
        <h:outputText value="#{row.group.nama}"/>
    </p:column>
    
    <p:column>
        <f:facet name="header"><small>Pemda</small></f:facet>
        <h:outputText value="#{row.pemda.namaPemda}"/>
    </p:column>
    
    <p:column>
        <f:facet name="header"><small>Nama Lengkap</small></f:facet>
        <h:outputText value="#{row.userContact.fullName}"/>
    </p:column>
    
</ui:composition>

