<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <section class="content">
        <div class="box">
            <div class="box-body">
                <div class="row margin-bottom">
                    <h:form class="form-horizontal">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <h:commandButton value="Tambah" class="btn btn-primary" actionListener="#{userInquiry.doAdd()}"/>
                            </div>
                        </div>
                    </h:form>
                </div>

                <hr/>
                <div class="row margin-bottom">
                    <div class="col-md-12">

                        <!--<p:dataTable id="content-table" value="{userInquiry.data}" var="row" class="table table-bordered table-responsive" >-->
                        <p:dataTable id="content-table" value="#{userInquiry.data}" var="row" selection="#{userInquiry.selectedUserAccount}" rowKey="#{row.id}" >
                            <ui:insert name="columns"/>
                        </p:dataTable>
                    </div>

                </div>
            </div>
        </div>
    </section>
</ui:composition>