<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://java.sun.com/jsf/html"
    >

    <ui:param name="backBean" value="#{apbdLampiranII}"/>
    <ui:param name="contentForm" value="lampiran2-content-form"/>
    <ui:param name="dataFilterForm" value="lampiran2-data-filter-form"/>

    <div class="row margin-bottom">
        <h:form id="lampiran2-data-filter-form" class="form-horizontal">
            <div class="col-md-12">
                <ui:decorate template="/Laporan/LaporanAPBD/apbd/lampiran2/layout/filter-layout.xhtml"/>
            </div>
        </h:form>
    </div>

    <hr/>
    <div class="row margin-bottom">

        <div class="col-md-12">
            <ui:insert name="report-title"/>
        </div>

        <div class="col-md-12">
            <h:form id="lampiran2-content-form">
                <p:dataTable id="idlpII" var="varlpII"  resizableColumns="false"
                             value="#{apbdLampiranII.pendapatanData}" 
                             style="font-size: 9px; width: 100%;">

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" style="text-align: center;width: 10%;" headerText="KODE"/>
                            <p:column rowspan="2" style="text-align: center;width: 30%;" headerText="URUSAN PEMERINTAHAN DAERAH"/>
                            <p:column rowspan="2" style="text-align: center;width: 15%;" headerText="PENDAPATAN"/>
                            <p:column colspan="3" style="text-align: center;width: 45%;" headerText="BELANJA"/>
                        </p:row>
                        <p:row>
                            <p:column style="text-align: center;width: 15%" headerText="TIDAK LANGSUNG"/> 
                            <p:column style="text-align: center;width: 15%;" headerText="LANGSUNG"/>
                            <p:column style="text-align: center;width: 15%;" headerText="JUMLAH BELANJA"/>                                                                                                                                                                                            
                        </p:row> 
                        <p:row>
                            <p:column style="text-align: center;width: 10%;" headerText="1"/>
                            <p:column style="text-align: center;width: 30%;" headerText="2"/>
                            <p:column style="text-align: center;width: 15%;" headerText="3"/>
                            <p:column style="text-align: center;width: 15%;" headerText="4"/>
                            <p:column style="text-align: center;width: 15%;" headerText="5"/>
                            <p:column style="text-align: center;width: 15%;" headerText="6"/>
                        </p:row> 
                    </p:columnGroup>

                    <p:column style="text-align: left; height: 18px;word-break: break-all;">
                        #{varlpII.kode}
                    </p:column>
                    <p:column style="text-align: left; word-break: break-all;">
                        #{varlpII.urusanPemerintah}
                    </p:column>
                    <p:column style="text-align: right; word-break: break-all;">
                        #{varlpII.pendapatanString}
                    </p:column>
                    <p:column style="text-align: right; word-break: break-all;">
                        #{varlpII.BTLString}
                    </p:column>
                    <p:column style="text-align: right; word-break: break-all;">
                        #{varlpII.BLString}
                    </p:column>
                    <p:column style="text-align: right; word-break: break-all;">
                        #{varlpII.BLBTLString}
                    </p:column>

                </p:dataTable>  

                <br/>

                <p:dataTable id="idlpIIp" var="varlpIIp"  resizableColumns="false"
                             value="#{apbdLampiranII.pembiayaanData}" 
                             style="font-size: 9px;width: 100%; background: none">

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column rowspan="2" style="text-align: center;width: 10%;" headerText="KODE"/>
                            <p:column rowspan="2" style="text-align: center;width: 30%;" headerText="URUSAN PEMERINTAHAN DAERAH"/>
                            <p:column colspan="3" style="text-align: center;width: 45%;" headerText="PEMBIAYAAN"/>
                            <p:column rowspan="2" style="text-align: center;width: 15%;" headerText="SILPA TAB"/>                                                                                                                                                        
                        </p:row>
                        <p:row>
                            <p:column style="text-align: center;width: 15%;" headerText="PENERIMAAN"/> 
                            <p:column style="text-align: center;width: 15%;" headerText="PENGELUARAN"/>
                            <p:column style="text-align: center;width: 15%;" headerText="PEMBIAYAAN NETTO"/>                                                                                                                                                                                            
                        </p:row> 
                        <p:row>
                            <p:column style="text-align: center;width: 10%;" headerText="1"/>
                            <p:column style="text-align: center;width: 30%;" headerText="2"/>
                            <p:column style="text-align: center;width: 15%;" headerText="3"/>
                            <p:column style="text-align: center;width: 15%;" headerText="4"/>
                            <p:column style="text-align: center;width: 15%;" headerText="5 = 3 - 4"/>
                            <p:column style="text-align: center;width: 15%;" headerText="6"/>
                        </p:row> 
                    </p:columnGroup>

                    <p:column style="text-align: left; word-break: break-all;">
                        #{varlpIIp.kode}
                    </p:column>
                    <p:column style="text-align: left">
                        #{varlpIIp.urusanPemerintah}
                    </p:column>
                    <p:column style="text-align: right; word-break: break-all;">
                        #{varlpIIp.penerimaanString}
                    </p:column>
                    <p:column style="text-align: right; word-break: break-all;">
                        #{varlpIIp.pembiayaanNetoString}
                    </p:column>
                    <p:column style="text-align: right; word-break: break-all;">
                        #{varlpIIp.penerimaanPembiayaanString}
                    </p:column>
                    <p:column style="text-align: right; word-break: break-all;">
                        #{varlpIIp.silpaString}
                    </p:column>

                </p:dataTable> 
            </h:form>
        </div>

    </div>

</ui:composition>

