<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml">

    <ui:decorate template="/pages/template/single-page-transaction-templates.xhtml">

        <ui:define name="breadcrumb">
            <li>Manajemen data</li>
            <li>Input data</li>
            <li>Neraca</li>
        </ui:define>

        <ui:param name="contentTitle" value="Input"/>
        <ui:param name="contentSubTitle" value="Neraca"/>
        <ui:param name="backBean" value="#{inputNeracaBean}"/>
    </ui:decorate>

</ui:composition>

