<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <ui:decorate template="/pages/template/template.xhtml">
        <ui:param name="contentTitle" value="List Data PDF"/>
        <ui:define name="breadcrumb">
            <li class="active">Manajemen Data</li>
            <li class="active">PDF</li>
            <li class="active">List Data PDF</li>
        </ui:define>
        
          <ui:define name="content">
              <div class="box">
                  
                <h:form id="uploadForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group form-group-sm" >
                            <h:outputText value="Pemerintah Daerah" class="col-sm-2 control-label"/>
                            <div class="col-sm-10">
                                <h:selectOneMenu value="#{listDataPDFBean.selectedPemda}" class="form-control select2 select2-hidden-accessible" style="width: 300px"
                                                 converter="omnifaces.SelectItemsConverter" >
                                    <f:selectItem itemLabel="..." noSelectionOption="true"/>
                                    <f:selectItems value="#{listDataPDFBean.pemdas}" var="item" itemValue="#{item}" itemLabel="#{item.namaPemda}"/>
                                    <f:ajax listener="#{listDataPDFBean.onFilterChanged()}" event="change" execute="@this" render="uploadForm"/>
                                </h:selectOneMenu>
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <h:outputText value="Tahun Anggaran" class="col-sm-2 control-label"/>
                            <div class="col-sm-10">
                                <h:selectOneMenu value="#{listDataPDFBean.selectedYear}" class="form-control select2 select2-hidden-accessible" style="width: 100px">
                                     <f:selectItem itemLabel="..." noSelectionOption="true"/>
                                     <f:selectItems value="#{listDataPDFBean.years}"/>
                                     <f:ajax listener="#{listDataPDFBean.onFilterChanged()}" event="change" execute="@this" render="uploadForm contentTable"/>
                                    </h:selectOneMenu>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                            <p:dataTable id="contentTable" value="#{listDataPDFBean.uploadFiles}" style="font-size: 10px;" var="item" styleClass="table">
                                <p:column style="width: 40%;">
                                <f:facet name="header" class="table-header">Data IKD</f:facet>
                                    #{item.ikd}
                            </p:column>
                            <p:column style="width: 20%;">
                                <f:facet name="header" class="table-header">Tanggal Upload</f:facet>
                                    #{item.tglupload}
                            </p:column>
                            <p:column style="width: 30%;">
                                <f:facet name="header" class="table-header">Status</f:facet>
                                <h:outputText class="label label-success" value="Sudah dikirim" rendered="#{not empty item.filename}"/>
                                <h:outputText class="label label-danger" value="Belum dikirim" rendered="#{empty item.filename}"/>
                            </p:column>
                            </p:dataTable>
                  </div>
                    
                </h:form>
              </div>
            </ui:define>
        
    </ui:decorate>
</ui:composition>