<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="/pages/template/template.xhtml">
        <ui:param name="contentTitle" value="Upload PDF"/>
        <ui:define name="breadcrumb">
            <li class="active">Manajemen Data</li>
            <li class="active">PDF</li>
            <li class="active">Upload PDF</li>
        </ui:define>
        
        <ui:define name="content">
              <div class="box">
                <h:form id="uploadForm" enctype="multipart/form-data">
                    <div class="form-group form-group-sm" >
                        <h:outputText value="Pemerintah Daerah" class="col-sm-2 control-label"/>
                        <div class="col-sm-10">
                            <h:selectOneMenu value="#{uploadPDFBean.selectedPemda}" class="form-control select2 select2-hidden-accessible" style="width: 300px"
                                             converter="omnifaces.SelectItemsConverter" >
                                <f:selectItem itemLabel="..." noSelectionOption="true"/>
                                <f:selectItems value="#{uploadPDFBean.pemdas}" var="item" itemValue="#{item}" itemLabel="#{item.namaPemda}"/>
                                <f:ajax listener="#{uploadPDFBean.onFilterChanged()}" event="change" execute="@this" render="uploadForm"/>
                            </h:selectOneMenu>
                        </div>
                    </div>
                    
                    <div class="form-group form-group-sm">
                        <h:outputText value="Tahun Anggaran" class="col-sm-2 control-label"/>
                        <div class="col-sm-10">
                            <h:selectOneMenu value="#{uploadPDFBean.selectedYear}" class="form-control select2 select2-hidden-accessible" style="width: 100px">
                                 <f:selectItem itemLabel="..." noSelectionOption="true"/>
                                 <f:selectItems value="#{uploadPDFBean.years}"/>
                                 <f:ajax listener="#{uploadPDFBean.onFilterChanged()}" event="change" execute="@this" render="uploadForm contentTable"/>
                                </h:selectOneMenu>
                            </div>
                    </div>
                    
                    <div class="row margin-bottom">
                        <div class="col-md-12">
                            <p:dataTable id="contentTable" value="#{uploadPDFBean.uploadFiles}" style="font-size: 10px;" var="item" styleClass="table">
                                <p:column style="width: 15%;">
                                <f:facet name="header" class="table-header">Data IKD</f:facet>
                                    #{item.ikd}
                            </p:column>
                            <p:column style="width: 15%;">
                                <f:facet name="header" class="table-header">Tanggal Upload</f:facet>
                                    #{item.tglupload}
                            </p:column>
                            <p:column style="width: 50%;">
                                <f:facet name="header" class="table-header">Nama File</f:facet>
                                    #{item.lastfilename}
                            </p:column>
                            <p:column>
                                <f:facet name="header" class="table-header">Aksi</f:facet>
                                <p:commandButton value="upload file" disabled="#{empty uploadPDFBean.labelYear}" 
                                                 actionListener="#{uploadPDFBean.onShowDialog(item.ikd)}"
                                                 onclick="PF('uploadDlg').show();"/>
                                
                                <h:commandLink value=" Lihat File " disabled="#{empty item.filename}" 
                                               action="#{uploadPDFBean.download(item.filename)}" target="_blank"/>
                                
                            </p:column>
                            </p:dataTable>
                            
                            <p:dialog id="uploadDlg" widgetVar="uploadDlg" header="Upload File" resizable="false" height="150"
                                      width="800">
                                
                                <p:fileUpload 
                                    fileUploadListener="#{uploadPDFBean.handleFileUpload}" style="width: 100%;"
                                    allowTypes="/(\.|\/)(pdf)$/" sizeLimit="26214400" update="messages contentTable" 
                                    cancelLabel="Batal" label="pilih berkas" oncomplete="PF('uploadDlg').hide();" >
                                    <p:growl id="messages" showDetail="true"/>
                                </p:fileUpload>
                            </p:dialog>
                        </div>
                    </div>
                </h:form>
              </div>
        </ui:define>
    </ui:decorate>
</ui:composition>