<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    >
    <ui:decorate template="/pages/template/common/layout/basic-filter-layout.xhtml"/>
    <ui:decorate template="/pages/template/common/layout/skpd-filter-layout.xhtml"/>
    <ui:decorate template="/pages/template/common/layout/periode-filter-layout.xhtml"/>
</ui:composition>