<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <p:columnGroup type="header">
        <p:row>
            <p:column rowspan="2" style="text-align: center; width: 3%;" headerText="No Urut"/>
            <p:column colspan="2" style="text-align: center; width: 13%" headerText="SPM/SPD"/>
            <p:column colspan="2" style="text-align: center; width: 13%;" headerText="SP2D"/>
            <p:column rowspan="2" style="text-align: center; width: 8%;" headerText="Sumber Dana"/>
            <p:column rowspan="2" style="text-align: center; width: 7%;" headerText="Kode Akun Belanja"/>
            <p:column colspan="3" style="text-align: center; width: 17%;" headerText="Pajak"/>
            <p:column colspan="3" style="text-align: center; width: 17%;" headerText="Potongan"/>
            <p:column rowspan="2" style="text-align: center; width: 4%;" headerText="NPWP Bendahara"/>
            <p:column rowspan="2" style="text-align: center; width: 4%;" headerText="NPWP SKPD"/>
            <p:column rowspan="2" style="text-align: center; width: 4%;" headerText="NPWP Rekanan"/>
            <p:column rowspan="2" style="text-align: center; width: 5%;" headerText="Nama Rekanan"/>
            <p:column rowspan="2" style="text-align: center; width: 4%;" headerText="Keterangan"/>
        </p:row>
        <p:row>
            <p:column style="text-align: center; width: 5%;" headerText="Nomor"/>
            <p:column style="text-align: center; width: 8%;" headerText="Nilai Belanja (Rp)"/>
            <p:column style="text-align: center; width: 5%;" headerText="Nomor"/>
            <p:column style="text-align: center; width: 8%" headerText="Nilai Belanja (Rp)"/>
            <p:column style="text-align: center; width: 5%;" headerText="Kode Akun"/>
            <p:column style="text-align: center; width: 3%;" headerText="Jenis Pajak"/>
            <p:column style="text-align: center; width: 9%" headerText="Jumlah (Rp)"/> 
            <p:column style="text-align: center; width: 5%;" headerText="Kode Akun"/>
            <p:column style="text-align: center; width: 3%;" headerText="Jenis Potongan"/>
            <p:column style="text-align: center; width: 9%" headerText="Jumlah (Rp)"/>  
        </p:row>  
        <p:row>
            <p:column style="text-align: center;" headerText="1"/>
            <p:column style="text-align: center;" headerText="2"/>
            <p:column style="text-align: center;" headerText="3"/>
            <p:column style="text-align: center;" headerText="4"/>
            <p:column style="text-align: center;" headerText="5"/>
            <p:column style="text-align: center;" headerText="6"/>
            <p:column style="text-align: center;" headerText="7"/>
            <p:column style="text-align: center;" headerText="8"/>
            <p:column style="text-align: center;" headerText="9"/>
            <p:column style="text-align: center;" headerText="10"/>
            <p:column style="text-align: center;" headerText="11"/>
            <p:column style="text-align: center;" headerText="12"/>
            <p:column style="text-align: center;" headerText="13"/>
            <p:column style="text-align: center;" headerText="14"/>
            <p:column style="text-align: center;" headerText="15"/>
            <p:column style="text-align: center;" headerText="16"/>
            <p:column style="text-align: center;" headerText="17"/>
            <p:column style="text-align: center;" headerText="18"/>
        </p:row>
    </p:columnGroup>

    <p:column style="text-align: center;">
        <p:outputLabel value="#{row.noUrut}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.nomorSPM}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <p:outputLabel value="#{row.nilaiSPM}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.nomorSP2D}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <p:outputLabel value="#{row.nilaiSP2D}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.sumberDana}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.kodeAkun}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.akunPajak}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.jenisPajak}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <p:outputLabel value="#{row.jumlahPajak}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.akunPotongan}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.jenisPotongan}"/>
    </p:column>
    <p:column style="text-align: right; word-break: break-all;">
        <p:outputLabel value="#{row.jumlahPotongan}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.npwpBUD}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.npwpSKPD}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.npwpVendor}"/>
    </p:column>
    <p:column style="text-align: left; word-break: break-all;">
        <p:outputLabel value="#{row.namaVendor}"/>
    </p:column>
    <p:column style="text-align: left;  word-break: break-all;">
        <p:outputLabel value="#{row.keterangan}"/>
    </p:column>

</ui:composition>

