<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">


    <h:form id="inputForm" enctype="multipart/form-data">
        <table id="tableCombo" align="center">
            <tr>
                <td> <h:outputText value="Pemerintah Daerah " rendered="#{uploadApbdXmlMBean.viewPemda}" />  </td>
                <td> <h:outputText value=":" rendered="#{uploadApbdXmlMBean.viewPemda}"/></td>
                <td> 
                    <p:selectOneMenu filter="true" filterMatchMode="contains" id="idpemdas" value="#{uploadApbdXmlMBean.selectedPemda}" 
                                     panelStyle="font-size:12px; width: 300px;" style="width: 300px" rendered="#{uploadApbdXmlMBean.viewPemda}"
                                     converter="omnifaces.SelectItemsConverter">
                        <f:selectItem itemLabel="Pilih Pemerintah Daerah...." itemValue="" />  
                        <f:selectItems value="#{uploadApbdXmlMBean.pemdas}" var="pe" itemLabel="#{pe.namaPemda}" itemValue="#{pe}" />
                        <p:ajax process="idpemdas" update="idout" event="change" listener="#{uploadApbdXmlMBean.onYearChange}"/>
                    </p:selectOneMenu>
                </td>
            </tr>
        </table>
        <br/>
        <p:outputPanel id="idout">
            <p:panelGrid style="width:80%">
                <p:row>
                    <p:column style="text-align: center; line-height: 150%;" >
                        <b>                                        
                            UPLOAD DATA APBD (XML) <br/>
                            #{uploadApbdXmlMBean.namaPemda}<br/>
                        </b>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <br/>
            <p:fileUpload fileUploadListener="#{uploadApbdXmlMBean.handleFileUpload}"
                          allowTypes="/(\.|\/)(xml)$/"  style="width: 80%;"
                          update="messages table1"  valueChangeListener="#{uploadApbdXmlMBean.handleFileUploadChange}"
                          multiple="false" fileLimit="1" fileLimitMessage="Hanya 1 File dapat di upload dalam satu waktu"
                          cancelLabel="Batal" label="pilih berkas APBD (XML)" 
                          onstart="PF('status').show()" oncomplete="xx();" >

                <p:remoteCommand id="rc" update="table1" name="next" actionListener="#{uploadApbdXmlMBean.getObjectFromXML}" 
                                 onsuccess="last();" onerror="PF('status').hide()"/>
                <p:remoteCommand id="rc2" update="table1" name="last" actionListener="#{uploadApbdXmlMBean.insertAPBD}" 
                                 oncomplete="PF('status').hide()"/>

                <script type="text/javascript">
                    function xx() {
                        next();
                    }
                </script>

                <p:dialog showHeader="false" widgetVar="status" modal="true" resizable="false"
                          draggable="false" closable="false" closeOnEscape="true"   >
                    <h:panelGrid id="blockContent" columns="2" bgcolor="white">
                        <h:graphicImage value="#{loginMBean.domain}#{facesContext.externalContext.requestContextPath}/resources/images/ajaxloader.gif" 
                                        style="margin-right:12px; vertical-align:middle;"/>
                        <h:outputText value="Proses ..."
                                      style="white-space:nowrap;"/>
                    </h:panelGrid>
                </p:dialog>
                <p:growl id="messages" showDetail="true"/>

            </p:fileUpload>
            <br/>
            <p:dataTable id="table1" var="stat" value="#{uploadApbdXmlMBean.stats}" style="font-size: 10px;width: 80%;" >

                <p:columnGroup type="header"> 
                    <p:row>
                        <p:column style="text-align: center;" headerText="STATUS"/>
                    </p:row>                             
                </p:columnGroup>

                <p:column style="text-align: left;  height: 18px; word-break: break-all;">
                    <p:outputLabel value="#{stat}" />
                </p:column>

            </p:dataTable>
        </p:outputPanel>
    </h:form>
</ui:composition>
