<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml">

    <ui:decorate template="/pages/template/tabbed-content-template.xhtml">

        <ui:define name="tabList">
            <li class="active"><a href="#r-apbd" data-toggle="tab">Laporan Realisasi APBD</a></li>
            <li><a href="#r-sbrdana" data-toggle="tab">Realisasi Belanja Berdasarkan Sumber Dana</a></li>
            <li><a href="#r-fungsi" data-toggle="tab">Realisasi Kegiatan Berdasarkan Fungsi</a></li>
        </ui:define>

        <ui:define name="tabContent">
            <div class="active tab-pane" id="r-apbd">
                <ui:decorate template="/Laporan/LaporanAPBD/realisasi/apbd/apbd-content.xhtml"/>
            </div>

            <div class="tab-pane" id="r-sbrdana">
                <ui:decorate template="/Laporan/LaporanAPBD/realisasi/sumberdana/sumberdana-content.xhtml"/>
            </div>

            <div class="tab-pane" id="r-fungsi">
                <ui:decorate template="/Laporan/LaporanAPBD/realisasi/fungsi/fungsi-content.xhtml"/>
            </div>
        </ui:define>

    </ui:decorate>

</ui:composition>

