<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:decorate template="/pages/template/template.xhtml">
        <ui:param name="contentTitle" value="Hak Akses"/>
        <ui:param name="contentSubTitle" value="manajemen hak akses"/>
        <ui:define name="breadcrumb">
            <li class="active">Pengaturan</li>
            <li class="active">Administrasi Pengguna</li>
            <li class="active">Hak Akses</li>
        </ui:define>
        <p:separator style="border-color: #dd4b39"/>
        <ui:define name="content">
            <section class="content">
                <h:form id="appform" >
                    <div class="row">
                        <p:growl id="appgrowl" sticky="true" showDetail="true"/>

                        <div class="col-md-6">
                            <div class="box">
                                <div class="box-header with-border">
                                    <small>User group</small>
                                </div>
                                <div class="box-body">
                                    <p:scrollPanel id="treescroll" style="width: 100%;height:300px; font-size: 11px;" mode="native">
                                        <p:treeTable id="grouptree" value="#{hakAksesMBean.root}" var="gr" style="width:100%"
                                                     selectionMode="single" selection="#{hakAksesMBean.selectedNode}"
                                                     tableStyleClass="table table-responsive">

                                            <p:ajax event="select" listener="#{hakAksesMBean.onNodeSelected}" 
                                                    update="grouptree :appform:tabelright"/>
                                            <p:ajax event="expand" listener="#{hakAksesMBean.onNodeExpanded}"/>
                                            <p:ajax event="collapse" listener="#{hakAksesMBean.onNodeCollapsed}"/>


                                            <p:column headerText="Nama User Group" width="200px;" >
                                                <h:outputText value="#{gr.nama}" />
                                            </p:column>

                                            <p:column headerText="Deskripsi" width="100px;" >
                                                <h:outputText value="#{gr.deskripsi}" />
                                            </p:column>
                                        </p:treeTable>
                                    </p:scrollPanel>
                                </div>
                                <div class="box-footer with-border">
                                    <p:commandButton value="Simpan" actionListener="#{hakAksesMBean.onSave}" update=":appform:grouptree" styleClass="btn btn-sm btn-primary pull-left"/>    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="box">
                                <div class="box-header with-border">
                                    <small>Hak akses</small>
                                </div>
                                <div class="box-body">
                                    <p:scrollPanel id="tablescroll" style="width: 100%; height:300px; font-size: 11px;" mode="native">
                                        <p:dataTable id="tabelright" value="#{hakAksesMBean.groupRights}" var="gr" 
                                                     style="height: 320px; font-size: 11px;"
                                                     styleClass="table table-responsive">
                                            <p:column headerText="Nama Menu" width="100px;" >
                                                <h:outputText value="#{gr.menu.nama}" />
                                            </p:column>
                                            <p:column headerText="Lihat" width="30px;" >
                                                <p:selectBooleanCheckbox value="#{gr.reads}" />
                                            </p:column>
                                            <p:column headerText="Rubah" width="30px;">
                                                <p:selectBooleanCheckbox value="#{gr.writes}" rendered="#{hakAksesMBean.grupId==hakAksesMBean.selectedgroup.id?gr.writes:true}" />
                                            </p:column>
                                        </p:dataTable>
                                    </p:scrollPanel>
                                </div>
                            </div>
                        </div>
                    </div>

                </h:form>
            </section>
        </ui:define>
    </ui:decorate>
</ui:composition>
