<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    >

    <ui:decorate template="/pages/template/template.xhtml">
        <ui:param name="contentTitle" value="Input Pengguna"/>
        <ui:define name="breadcrumb">
            <li class="active">Pengaturan</li>
            <li class="active">Administrasi Pengguna</li>
            <li class="active">Pengguna</li>
        </ui:define>
        
        <ui:define name="content">
            <p:growl sticky="true" showDetail="true"/>
            <div class="container" style="padding-top: 60px;">
                <div class="row">
                    
                    <!-- left column -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="text-center">
                        <h:form id="uploadForm" enctype="multipart/form-data">
                            <h:graphicImage name="/img/avatar5.png" class="avatar img-circle img-thumbnail" alt="avatar"/>
                            <h6>Upload photo avatar...</h6>                            
                            <p:fileUpload value="#{userDataInput.file}"  valueChangeListener="#{userDataInput.handleFileUploadChange}"
                                    fileUploadListener="#{userDataInput.handleFileUpload}"
                                    allowTypes="/(\.|\/)(gif|jpg|jpeg|gif|png|PNG|GIF|JPG|JPEG)$/"/> 
                        </h:form>
                      </div>
                    </div>
                    
                    <!-- edit form column -->
                    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                        <h4>Info Pengguna</h4>
                        <h:form id="userUpload" class="form-horizontal">
                            <div class="form-group-sm">
                                <h:outputLabel for="tf_fullname" value="Nama Lengkap" class="col-lg-3 control-label"/>
                                <div class="col-lg-8">
                                    <h:inputText  class="form-control" id="tf_fullname" value="#{userDataInput.userContact.fullName}"/>
                                </div>
                            </div>
                            
                            <div class="form-group-sm">
                                <h:outputLabel for="tf_phone" value="No. Telpon" class="col-lg-3 control-label"/>
                                <div class="col-lg-8">
                                    <h:inputText  class="form-control" id="tf_phone" value="#{userDataInput.userContact.phone}"/>
                                </div>
                            </div>
                            
                            <div class="form-group-sm">
                                <h:outputLabel for="tf_email" value="Email" class="col-lg-3 control-label"/>
                                <div class="col-lg-8">
                                    <h:inputText  class="form-control" id="tf_email" value="#{userDataInput.userContact.email}"/>
                                </div>
                            </div>
                            
                            <div class="form-group-sm">
                                <h:outputLabel for="tf_workplace" value="Tempat Kerja" class="col-lg-3 control-label"/>
                                <div class="col-lg-8">
                                    <h:inputText  class="form-control" id="tf_workplace" value="#{userDataInput.userContact.phone}"/>
                                </div>
                            </div>
                            
                            <div class="form-group-sm">
                                <h:outputLabel for="tf_address" value="Alamat" class="col-lg-3 control-label"/>
                                <div class="col-lg-8">
                                    <h:inputText  class="form-control" id="tf_address" value="#{userDataInput.userContact.address}"/>
                                </div>
                            </div>
                            
                            <div class="form-group-sm" >
                                <h:outputLabel for="tf_pemda" value="Pemerintah Daerah" class="col-lg-3 control-label"/>
                                <div class="col-lg-8">
                                    <h:selectOneMenu value="#{userDataInput.selectedPemda}" class="form-control select2 select2-hidden-accessible" style="width: 300px"
                                                     converter="omnifaces.SelectItemsConverter" id="tf_pemda">
                                        <f:selectItem itemLabel="..." noSelectionOption="true"/>
                                        <f:selectItems value="#{userDataInput.pemdas}" var="item" itemValue="#{item}" itemLabel="#{item.namaPemda}"/>
                                        <f:ajax listener="#{userDataInput.onFilterChanged()}" event="change" execute="@this"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            
                            <!-- user account -->
                            <div class="form-group-sm">
                                <h:outputLabel for="tf_username" value="Username" class="col-md-3 control-label"/>
                                <div class="col-md-8">
                                    <h:inputText  class="form-control" id="tf_username" value="#{userDataInput.editingData.username}"/>
                                </div>
                            </div>
                            
                            <div class="form-group-sm" >
                                <h:outputLabel for="tf_group" value="Grup User" class="col-md-3 control-label"/>
                                <div class="col-md-8">
                                    <h:selectOneMenu value="#{userDataInput.selectedUserGroup}" class="form-control select2 select2-hidden-accessible" style="width: 300px"
                                                     converter="omnifaces.SelectItemsConverter" id="tf_group">
                                        <f:selectItem itemLabel="..." noSelectionOption="true"/>
                                        <f:selectItems value="#{userDataInput.userGroups}" var="item" itemValue="#{item}" itemLabel="#{item.nama}"/>
                                        <f:ajax listener="#{userDataInput.onFilterChanged()}" event="change" execute="@this"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            
                            <div class="form-group-sm">
                                <h:outputLabel for="tf_newPassword" value="Password" class="col-md-3 control-label"/>
                                <div class="col-md-8">
                                    <h:inputSecret  class="form-control" id="tf_newPassword" value="#{userDataInput.password}"/>
                                </div>
                            </div>
                            
                            <div class="form-group-sm">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                  <h:commandButton value="Simpan" class="btn btn-primary" actionListener="#{userDataInput.doSave()}"/>
                                  <span></span>
                                  <h:commandButton value="Batal" class="btn btn-primary" actionListener="#{userDataInput.doCancel()}" immediate="true"/>
                                </div>
                          </div>                          
                            
                        </h:form>
                    </div>
                </div>
            </div>
        </ui:define>       
    </ui:decorate>
</ui:composition>

